<div class="h-12 w-full shadow bg-gray-200 fixed
        dark:bg-gray-800 flex-row items-stretch z-50">
    <div class="flex flex-row items-stretch justify-between h-12">
        {{! left navbar }}
        <div class="flex-row items-stretch hidden pl-4 sm:flex">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
        </div>
        {{! nav toggle button }}
        <label class="flex items-center pl-4 cursor-pointer sm:hidden group" for="show_nav">
            <svg width="24" height="24" class="stroke-current dark:text-gray-400 dark:group-hover:text-gray-300">
                <g fill="none" stroke-width="2">
                    <path d="m4 6h16"></path>
                    <path d="m4 11h16"></path>
                    <path d="m4 16h16"></path>
                </g>
            </svg>
        </label>
        {{! right navbar }}
        <div class="flex flex-row items-stretch pr-0 sm:pr-4">
            {{! toggle light theme button }}
            <script>
                function toggle_theme() {
                    html.classList.remove(theme);
                    theme = theme === 'dark' ? 'light' : 'dark';
                    localStorage.setItem('minipress-theme', theme);
                    html.classList.add(theme);
                }
            </script>
            <div class="flex flex-row items-center px-3 cursor-pointer group" onclick="toggle_theme()">
                {{! sun icon }}
                <svg width="16" height="16" class="hidden text-gray-400 fill-current dark:block group-hover:text-gray-300">
                    <g transform="scale(0.25)">
                        <circle cx="32" cy="32" r="21"/>
                        <rect transform="scale(-1)" x="-34" y="-8" width="4" height="6" rx="2" ry="2"/>
                        <rect transform="rotate(225)" x="-47.261" y="24" width="4" height="6" rx="2" ry="2"/>
                        <rect transform="rotate(-90)" x="-34" y="56" width="4" height="6" rx="2" ry="2"/>
                        <rect transform="rotate(-45)" x="-2" y="69.261" width="4" height="6" rx="2" ry="2"/>
                        <rect x="30" y="56" width="4" height="6" rx="2" ry="2"/>
                        <rect transform="rotate(45)" x="43.256" y="24.003" width="4" height="6" rx="2" ry="2"/>
                        <rect transform="rotate(90)" x="30" y="-8" width="4" height="6" rx="2" ry="2"/>
                        <rect transform="rotate(135)" x="-2" y="-21.256" width="4" height="6" rx="2" ry="2"/>
                    </g>
                </svg>
                {{! moon icon }}
                <svg width="16" height="16" class="text-gray-500 fill-current dark:hidden group-hover:text-gray-400">
                    <path d="m13.039 11.989c-1.3869 1.765-3.5324 2.7733-5.7663 2.7102-0.55162-0.015582-1.4394-0.16839-1.9643-0.3385-2.1189-0.68665-3.7808-2.3485-4.4675-4.4675-0.17012-0.52496-0.32292-1.4127-0.33851-1.9643-0.063116-2.2339 0.94521-4.3794 2.7102-5.7663 0.43392-0.34097 0.75014-0.11907 0.69544 0.43038-0.0756 0.75942-0.12995 1.8441 0.014079 2.8487 0.078211 0.54555 0.35565 1.4027 0.59994 1.8975 0.73514 1.4891 2.0056 2.8298 3.4875 3.5319 0.49843 0.23615 1.3722 0.46278 1.9218 0.50913 0.92511 0.07801 1.9485 0.0031 2.6787-0.07956 0.54839-0.06205 0.76989 0.25444 0.42894 0.68834z"/>
                    <path d="m14.525 4.3031-1.4058-0.055377-0.8315 1.1349-0.38175-1.3541-1.3363-0.4401 1.1699-0.78151 0.005623-1.4069 1.1048 0.87112 1.3398-0.4294-0.48708 1.3199z"/>
                    <path d="m11.687 9.1668-0.84357-0.83434-1.1574 0.26108 0.53282-1.0601-0.60596-1.0201 1.1729 0.17915 0.78289-0.89152 0.19205 1.1708 1.0898 0.46908-1.0542 0.54446z"/>
                    <path d="m7.5363 6.2747-1.0735-0.89572-1.3465 0.37656 0.52014-1.2978-0.77421-1.1642 1.395 0.09364 0.86798-1.0961 0.34202 1.3557 1.3107 0.48679-1.1836 0.7442z"/>
                </svg>
            </div>
            {{#if user_name}}
                {{! user avatar icon and dropdown }}
                <div class="flex flex-col">
                    <label data-toggle="dropdown" class="flex items-center flex-grow px-3 cursor-pointer" for="profile_dropdown">
                        {{#if user.avatar_url}}
                            <img class="rounded-full w-5 h-5 bg-gray-500
                            border-1 border-gray-500 box-content pointer-events-none" src="{{user.avatar_url}}">
                        {{else}}
                            <div class="rounded-full w-5 h-5 bg-gray-300 border border-gray-500 box-content
                            flex items-center justify-center overflow-hidden pointer-events-none">
                                <svg width="20" height="20" class="text-gray-500 fill-current">
                                    <circle cx="10" cy="6" r="5"/>
                                    <path transform="scale(-1)" d="m-1-21a9 9 0 0 1-5 8 9 9 0 0 1-9-1e-6 9 9 0 0 1-4-8"/>
                                </svg>
                            </div>
                        {{/if}}
                    </label>
                    {{! dropdown }}
                    {{#>components/dropdown id="profile_dropdown"}}
                        {{#*inline "dropdown_items"}}
                            <span class="px-2 pt-1 font-bold truncate">{{user.name}}</span>
                            <span class="px-2 pb-2 border-b border-gray-300 dark:border-gray-400">@{{user.username}}</span>
                            <a href="/github_oauth2/logout" class="p-2 hover:bg-gray-700 dark:hover:bg-gray-500">Logout</a>
                        {{/inline}}
                    {{/components/dropdown}}
                </div>
            {{else}}
                <a href="/github_oauth2/login" class="nav-link-indigo">
                    Sign in
                </a>
            {{/if}}
        </div>
    </div>
</div>
{{! solely here for spacing }}
<div class="h-12"></div>
{{> layouts/sidebar }}
